<header class="header">
  <div class="container vh-80">
    <nav class="row text-white justify-content-between align-items-center text-uppercase ">
      <a href="" class="col-auto text-reset">
        <img src="../../../assets/Logos/logo.png" alt="LogoBSC" class="img-logo">
        Buena Suerte Cafe
      </a>

      <!-- Anclas -->
    <div class="col-auto">
      <a href="#" class="text-reset pr-3">Inicio</a>
      <a href="#"  routerLinkActive="active" class="text-reset pr-3">Nuestros productos</a>
      <!-- [routerLink]="['/Destinos']" -->
      <a href="#" [routerLink]="['Login']" routerLinkActive="active" class="text-reset">Ingresar</a>
      <!--  -->
      <!--  -->
    </div>

    </nav>
    <!-- Descripcion -->
    <div class="row h-100 align-items-center">
      <div class="col-6 text-white mt-4">
        <!-- titulo -->
        <h1 class="text-capitalize">
          <span class="h5 textoMarca">Los mejores granos del campo</span> <br>
          A tu alcance
        </h1>
        <!-- Descripcion -->
        <p class="textoMarca font-weight-bolder">
          Somos una empresa encargada <br>
          de brindarte los medios de transportes mas
          actualizados del mundo para que puedas visitar los
          lugares que siempre quisiste.
        </p>
        <!-- Btn -->
        <a href="#" class="text-reset btn botonCompra">Mira nuestros productos</a>
      </div>
    </div>

  </div>
  <img src="../../../assets/Images/cut-header.svg" alt="">
</header>
