<header class="header">
  <div class="container vh-80">
    <nav class="row text-white justify-content-between align-items-center text-uppercase ">
      <a href="" class="col-auto text-reset">
        <img src="../../../assets/Logos/logo.png" alt="LogoBSC" class="img-logo">
        Buena Suerte Cafe
      </a>

      <!-- Anclas -->
    <div class="col-auto anclas">
      <a href="#" class="text-reset pr-3">Inicio</a>
      <a href="#"  [routerLink]="['/products']" routerLinkActive="active" class="text-reset pr-3">Nuestros productos</a>
      <!--  -->
      <a href="#" *ngIf="nombre === null; else elseBlock" [routerLink]="['Login']" routerLinkActive="active" class="text-reset">Ingresar</a>
      <ng-template #elseBlock>
        <label>¡Hola! {{nombre}}
          <button class="usuario" mat-mini-fab color="accent" aria-label="Ver cuenta"  routerLinkActive="active" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/Dashboard']">Ver cuenta</button>
            <button mat-menu-item (click)="cerrarSesion()">Cerrar sesion</button>
          </mat-menu>
        </label>
      </ng-template>

    </div>

    </nav>
    <!-- Descripcion -->
    <div class="row h-100 align-items-center">
      <div class="col-6 text-white mt-4">
        <!-- titulo -->
        <h1 class="text-capitalize">
          <span class="h5 textoMarca">Los mejores granos del campo</span> <br>
          A tu alcance
        </h1>
        <!-- Descripcion -->
        <p class="textoMarca font-weight-bolder">
          Somos una empresa encargada <br>
          de brindarte los mejores granos del campo
          a la comodidad de tu casa.
        </p>
        <!-- Btn -->
        <a href="#" [routerLink]="['/products']" class="text-reset btn botonCompra">Mira nuestros productos</a>
      </div>
    </div>

  </div>
  <img src="../../../assets/Images/cut-header.svg" alt="">
</header>
