<div class="container">
  <h2>Nuestros productos</h2>
      <div class="content-all">
          <div class="content-carrousel">
              <figure><img src="../../../assets/Images/imgCarrousel1.png" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/imgCarrousel2.png" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/tipos-chocolate-t.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/coctel-cafe-irlandes.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/galletas-caseras-integrales-de-cafe-y-chocolate.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/galletas-con-chips-chocolate-compressor-1200x675.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/portada-adobe-m.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/Vanilla-Cake-SQ.jpg" [routerLink]="['/products']"></figure>
              <figure><img src="../../../assets/Images/d9f9eccdd87752c78993ef0c67e345d3_Cheseecake-de-fresa_1200_600.jpg" [routerLink]="['/products']"></figure>
          </div>
      </div>
</div>
