<div class="flex flex-col min-w-60 md:min-w-160 sm:min-w-120 -m-6" >
  <div class="px-16 py-12 titlecard">
      <div class="h3">
          <h1 class="min-h-20 -mt-10 -ml-25 text-principal-700 text-2xl font-bold">¿Está seguro que desea elminar el producto?</h1>
      </div>
      <mat-divider class="-mt-12 w-full"></mat-divider>
  </div>
  <div mat-dialog-actions class="w-full flex justify-content-end">
      <button mat-raised-button mat-dialog-close class="bg-principal-50 text-principal-900">Cancelar</button>
      <button mat-raised-button class="bg-principal-100 text-principal-50 mr-5">Elimnar
        <mat-icon>
          <span class="material-icons-outlined ml-1">
            clear
          </span>
        </mat-icon>
      </button>
  </div>
</div>
