<div class="card">

  <h5 class="card-header">Filtros</h5>

  <div class="card-body">
    <form class="center">
      <div class="form-group">
        <h5>Filtrar por precio</h5>
        <input type="checkbox" name="menor100" value="1" class="checkbox">
        <label for="vehicle1" class="labelCheckbox"> menor a $100.000</label><br>
        <input type="checkbox" name="100-400" value="2" class="checkbox">
        <label for="vehicle2" class="labelCheckbox"> $100.001-$400.000</label><br>
        <input type="checkbox" name="400-800" value="3" class="checkbox">
        <label for="vehicle3" class="labelCheckbox"> $400.000-$800.000</label><br>
        <input type="checkbox" name="mayor800" value="4" class="checkbox">
        <label for="vehicle3" class="labelCheckbox"> mayor a $800.000</label><br>

      </div>

      <h5>Filtrar por nombre</h5>
      <div class="form-group">
        <label>Nombre o descripcion del producto:</label>
        <input type="number" id="A" class="form-control input">
      </div>

      <input type="submit" class="btn btn-primary btn-block" value="Filtrar">
      <input type="submit" class="btn btn-secondary btn-block " value="limpiar">
    </form>
  </div>
</div>


